In [1]:
import pandas as pd

In [2]:
#test1 = pd.read_csv('../data/output/out3.csv')
#test2 = pd.read_csv('../data/output/out_test_2.csv')
#test3 = pd.read_csv('../data/output/out_test_3.csv')

test = pd.read_csv('../data/output/scrap_incendios_202111_202201.csv')

In [3]:

test.shape

(8273, 5)

In [4]:
#print('test1:' + str(test1.text.isna().sum()))
#print('test2:' + str(test2.text.isna().sum()))
#print('test3:' + str(test3.text.isna().sum()))

print('test:' + str(test.text.isna().sum()))

test:38

In [5]:
test.loc[test['text'] == 'Sin datos'].value_counts('text')

Series([], dtype: int64)

In [12]:
test.loc[test['text'] == 'Error'].value_counts('text')

Series([], dtype: int64)

In [9]:
error = test.loc[test['text'] == 'Error'].id

In [14]:
error.isin(error2).value_counts()

True     620
False     21
Name: id, dtype: int64

In [15]:
error2.isin(error3).value_counts()

True     620
False     15
Name: id, dtype: int64

In [19]:
error1.isin(error2).value_counts()

True     548
False     21
Name: id, dtype: int64

In [20]:
error2.isin(error1).value_counts()

True     548
False     87
Name: id, dtype: int64

In [10]:
test.loc[test['text'] == 'Error'].url

3       https://www.argentinastar.com/news/272154310/f...
29      https://www.argentinastar.com/news/272143691/c...
53      https://zonanortevision.com.ar/256440/el-incen...
81          https://noticiasyprotagonistas.com/page/4551/
108     https://www.impulsonegocios.com/el-gobierno-di...
                              ...
7408    https://lavozdecataratas.com/2022/02/06/hubo-1...
7409    https://lavozdecataratas.com/2022/02/08/oscar-...
7410    https://lavozdecataratas.com/2022/02/08/incend...
7588    https://www.analisisdigital.com.ar/cultura/202...
7885    https://www.eldiarionuevodia.com.ar/regionales...
Name: url, Length: 465, dtype: object