In [1]:
import pandas as pd

In [2]:
test1 = pd.read_csv('../data/output/out3.csv')
test2 = pd.read_csv('../data/output/out_test_2.csv')
test3 = pd.read_csv('../data/output/out_test_3.csv')

In [3]:

test3.shape

(5551, 5)

In [4]:
print('test1:' + str(test1.text.isna().sum()))
print('test2:' + str(test2.text.isna().sum()))
print('test3:' + str(test3.text.isna().sum()))

test1:553
test2:53
test3:53

In [5]:
test1.loc[test1['text'] == 'Sin datos'].value_counts('text')

text
Sin datos    569
dtype: int64

In [6]:
test2.loc[test2['text'] == 'Error'].value_counts('text')

text
Error    635
dtype: int64

In [7]:
test3.loc[test3['text'] == 'Error'].value_counts('text')

text
Error    641
dtype: int64

In [18]:
error1 = test1.loc[test1['text'] == 'Sin datos'].id

In [8]:
error2 = test2.loc[test2['text'] == 'Error'].id

In [9]:
error3 = test3.loc[test3['text'] == 'Error'].id

In [14]:
error3.isin(error2).value_counts()

True     620
False     21
Name: id, dtype: int64

In [15]:
error2.isin(error3).value_counts()

True     620
False     15
Name: id, dtype: int64

In [19]:
error1.isin(error2).value_counts()

True     548
False     21
Name: id, dtype: int64

In [20]:
error2.isin(error1).value_counts()

True     548
False     87
Name: id, dtype: int64

In [22]:
test2.loc[test2['text'] == 'Error'].url

59      https://culturageek.com.ar/lauren-ridloff-makk...
69      https://culturageek.com.ar/alcatel-suma-dos-nu...
110     https://www.elcomercioonline.com.ar/articulos/...
158     https://www.ole.com.ar/river-plate/river-cd-ba...
225            https://www.4semanas.com/la-decada-ganada/
                              ...
5462    https://mercado.com.ar/mercados-finanzas/cae-a...
5463    https://mercado.com.ar/mercado-plus/aporte-has...
5464    https://mercado.com.ar/management-marketing/co...
5465    https://mercado.com.ar/protagonistas/loreal-wa...
5466    https://mercado.com.ar/geopolitica/barbados-es...
Name: url, Length: 635, dtype: object